body, html {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    height: 100%;
     overflow: hidden; /*Para esconder qualquer barra de rolagem */
  }
  
  header {
    position: fixed;
    width: 100%;
    background-color: rgba(47, 59, 73, 0.63);
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    z-index: 100;
  }

  footer {
    display: contents;
  }

  .inicio {
    all:unset;
    background-color: #a5a7a5;
    border-radius: 10px 0px 10px 0px;
    padding: 5px;
  }

  .lista {
    margin-top: 180px;
    margin-right: 30px;
    border-color: #333;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
  }

  .inscricao {
     all:unset;
     background-color: #74f099;
     a {
      color: #000;
     }
     padding: 5px;
     border-radius: 10px;

  }


  img {
    max-width: 200px;

  }

  .lista .curso h2 {
    color: #353333;;
    background-color: #9fa3a1;
    border-radius: 10px;
    padding: 5px;
  }

  a {
    text-decoration: none;
    color: #fff;
  }

  #video-background {
    position: fixed;
    width: 120%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: -2;
    border: none; /* Remover bordas */
  }
  
  button[type="submit"] {
    background-color: #74f099;
    border: none;
    border-radius: 5px;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
  }
  
  button[type="submit"]:hover {
    background-color: #62d585;
  }
  